DB_USER='usuario'
DB_PASSWORD='constraseña'
DB_NAME='nombreDB'
DB_SERVER='localhost'
JWT_SECRET='clavesecretaparajwt'
NODE_ENV='development' or 'production'
PORT=3001
CORS_ORIGIN=http://localhost:5173,http://localhost:3001,http://localhost:5000,http://localhost:5002
CORS_ORIGIN_PROD=http://localhost:5173,http://localhost:3001
